/***************************************************
****************************************************
***************************************************/
                /* GLOBAL STYLES */
/****************************************************
*****************************************************
****************************************************/

@font-face {
    font-family: "Source Sans Pro";
    src: url(../Fonts/source-sans-pro/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: "Source Sans Pro Semibold";
    src: url(../Fonts/source-sans-pro/SourceSansPro-Semibold.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../Fonts/Roboto/static/Roboto-Bold.ttf)
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro";
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: black;
    font-size: 0.75em;
}

h1, h3, p, img {
    margin: 0;
}




/***************************************************
****************************************************
***************************************************/
                /* NAVIGATION */
/****************************************************
*****************************************************
****************************************************/

.nav {
    max-width: 90%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: min-content auto 1fr min-content auto;
    grid-template-areas: "logo logo-name . home about-me";
    align-items: center;
    gap: 0.25em;
    font-family: "Source Sans Pro Semibold", serif;
}

.nav-left-logo {
    grid-area: logo;
}

.nav-left-logo-name {
    grid-area: logo-name;
    font-family: "Roboto Bold", "Source Sans Pro Semibold", serif;
    font-size: 0.9em;
}

.nav-right-home {
    grid-area: home;
    
}

.nav-right-about-me {
    grid-area: about-me;
}

.mr {
    margin-right: 1em;
}




/****************************************************
*****************************************************
****************************************************/
                    /* Footer */
/****************************************************
*****************************************************
****************************************************/


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    font-size: 1em;
    height: 12.5vh;
    margin-top: 1em;
}

.footer-logo-name {
    color: #ECECEC;
    font-weight: 900;
}

.footer-copyright {
    color: #D7D7D7;
    margin: 0;
}






/*****************************************************/
                /* Larger mobiles */
/*****************************************************/

@media (min-width: 480px) {
    .footer {
        font-size: 1em;
    }
}



/*****************************************************/
                /* tablets */
/*****************************************************/

@media (min-width: 768px) {
    .nav-right, .nav-left-logo-name {
        font-size: 1em;
    }
    .mr {
        margin-right: 5em;
    }
}





/***************************************************/
                    /* Desktop */
/*****************************************************/