@font-face {
    font-family: "Source Sans Pro";
    src: url(../Fonts/source-sans-pro/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: "Source Sans Pro Semibold";
    src: url(../Fonts/source-sans-pro/SourceSansPro-Semibold.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../Fonts/Roboto/static/Roboto-Bold.ttf)
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro";
}

a {
    text-decoration: none;
    color: black;
    font-size: 0.75em;
}

h1, h3, p {
    margin: 0;
}



/***************************************************
****************************************************
****************************************************/
                /* NAVIGATION */
/****************************************************
*****************************************************
*****************************************************/

.nav {
    max-width: 90%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: min-content auto 1fr min-content auto;
    grid-template-areas: "logo logo-name . home about-me";
    align-items: center;
    gap: 0.25em;
    font-family: "Source Sans Pro Semibold", serif;
}

.nav-left-logo {
    grid-area: logo;
}

.nav-left-logo-name {
    grid-area: logo-name;
    font-family: "Roboto Bold", "Source Sans Pro Semibold", serif;
    font-size: 0.9em;
}

.nav-right-home {
    grid-area: home;
    
}

.nav-right-about-me {
    grid-area: about-me;
}

.mr {
    margin-right: 1em;
}

/***************************************************
****************************************************
****************************************************/
                    /* MAIN */
/****************************************************
*****************************************************
*****************************************************/

.main-article {
    background-image: url(../images/article-image-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 30%;
    color: white;
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 0 1em 2em;
    gap: 6px;
    flex-wrap: wrap;
}

.article-title {
    max-width: 60%;
}

.pbtm {
    padding-bottom: 1em;
    max-width: 75vw;
    line-height: 1.5em;
}



/***************************************************/
                    /* Articles */
/*****************************************************/

.articles-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "blog-one"
    "blog-two"
    "blog-three";
    gap: 12px;
    margin: 1em;
}

.blog-one {
    grid-area: blog-one;
}

.blog-two {
    grid-area: blog-two;
}

.blog-three {
    grid-area: blog-three;
}

.extra-article-image {
    width: 100%;
}

.extra-articles {
    margin-bottom: 2em;
}

.extra-articles > p, .extra-articles > h3, .extra-articles > img {
    margin-bottom: 0.5em;
}

.fc-505050 {
    color: #505050;
}

.extra-articles > h3 {
    color: #141414;
    font-weight: 900;
}


.view-more {
    display: block;
    width: fit-content;
    margin: auto;
    text-decoration: underline;
    font-weight: 900;
    font-size: 1em;
    margin-bottom: 2em;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    font-size: 1em;
    height: 12.5vh;
}

.footer-logo-name {
    color: #ECECEC;
    font-weight: 900;
}

.footer-copyright {
    color: #D7D7D7;
}
