
/***************************************************
****************************************************
***************************************************/
                /* GLOBAL STYLES */
/****************************************************
*****************************************************
****************************************************/




/***************************************************
****************************************************
***************************************************/
                /* NAVIGATION */
/****************************************************
*****************************************************
****************************************************/





/****************************************************
*****************************************************
****************************************************/
                    /* MAIN */
/****************************************************
*****************************************************
****************************************************/

.main-article {
    background-image: url(../images/article-image-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30%;
    color: white;
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 0 1em 2em;
    gap: 6px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.article-title {
    max-width: 60%;
}

.pbtm {
    padding-bottom: 1em;
    max-width: 75vw;
    line-height: 1.5em;
}



/*****************************************************/
                    /* Articles */
/*****************************************************/

.articles-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "blog-one"
    "blog-two"
    "blog-three";
    gap: 12px;
    max-width: 90%;
    margin: 1.5em auto;
}

.blog-one {
    grid-area: blog-one;
}

.blog-two {
    grid-area: blog-two;
}

.blog-three {
    grid-area: blog-three;
}

.extra-article-image {
    width: 100%;
}

.extra-articles {
    margin-bottom: 2em;
}

.extra-articles > p, .extra-articles > h3, .extra-articles > img {
    margin-bottom: 0.5em;
}

.fc-505050 {
    color: #505050;
}

.extra-articles > h3 {
    color: #141414;
    font-weight: 900;
}


.view-more {
    display: block;
    width: fit-content;
    margin: auto;
    text-decoration: underline;
    font-weight: 900;
    font-size: 1em;
    margin-bottom: 2em;
}


/****************************************************
*****************************************************
****************************************************/
                    /* Footer */
/****************************************************
*****************************************************
****************************************************/






/*****************************************************/
                /* Larger mobiles */
/*****************************************************/

@media (min-width: 480px) {
    .main-article {
        font-size: 0.75em;
    }

    .articles-section  {
        margin-top: 2em;
        max-width: 80%;
    }
    
}


/*****************************************************/
                /* tablets */
/*****************************************************/

@media (min-width: 768px) {
    .articles-section  {
        max-width: 60%;
    }
}



/***************************************************/
                    /* Desktop */
/*****************************************************/

@media (min-width: 1024px) {
    .main-article {
        background-position: top;
        height: 55%;
        font-size: 1em;
    }
    .pbtm {
        max-width: 60%;
        padding-bottom: 2em;
    }

    .articles-section  {
        max-width: 95%;
        grid-template-columns: 1fr 1fr 1fr;        
        grid-template-areas: 
        "blog-one blog-two blog-three";
        gap: 25px;
    }

}

@media (min-width: 1400px) {
    .main-article {
        background-position: center;
    }
}